 {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Djnago Authentication</title>
  </head>
  <body class="container">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ user.username }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

       {% if user.is_authenticated %}                                      
       <li class="nav-item"><a class="nav-link" href=" {% url 'users-profile' %} ">My Account </a></li>   
       <li class="nav-item"><a class="nav-link" href=" {% url 'users-logout' %}">Logout</a></li>
       {% endif %}
       <li class="nav-item"><a class="nav-link" href=" {% static 'product_list.html' %} ">Wish List  </a></li>
       <li class="nav-item"><a class="nav-link" href="">Shopping</a></li>
       <li class="nav-item"><a class="nav-link" href=" {% static 'checkout.html' %} ">Checkout</a></li>


      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>

  <div class="container text-left">
    {% if user.is_authenticated %}                                      
     <div class="nav-item"><a class="btn btn-danger mt-2 btn-block" href=" {% url 'users-profile' %} ">My Account </a></div>   
     <div class="nav-item"><a class="btn btn-danger mt-2 btn-block" href=" {% url 'users-logout' %}">Logout</a></div>
     {% endif %}
  </div>

  <div class="container text-center" style="margin-top: 5rem">
  <img class="rounded-circle account-img" style="height: 250px; width: 250px"
   src="{{ user.profile.file.url }}" alt="">  
  </div>

  

  {% block content %}

  {% endblock %}



  

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>