{% extends "users/base.html" %}
{% block content %}
    <div class="alert alert-info container mt-5 font-weight-bold">
        'We’ve emailed you instructions for setting your password,
        if an account exists with the email you entered. You should receive them shortly.'
        <p class="text-mute text-small">Please Check All mail If you don’t see an email.</p>
    </div>
    <p class="text-mute text-small container text-dark">If you don’t receive an email, 
       please make sure you’ve entered the address you registered with, 
       and check your <span class="font-weight-bold text-danger">spam folder</span>.</p>
{% endblock content %}